
build*
*build*
.DS_Store
*CMakeLists.txt.user

*.vs
*CMakePresets_user.json
FileSend/Microsoft_secrets.h
FileSend/Google_secrets.h
Running_FileSend/Google_secrets.h
Running_FileSend/Microsoft_secrets.h
Running_FileSend/Microsoft_secrets.h
Running_FileSend/Google_secrets.h
